*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

button{
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
}

a:hover{
    text-decoration: none;
}

#conteudo{
    width: 80%;
    min-height: 100vh;
}

/**Logo**/
.img-logo{
    border: 1px 9px solid rgb(130, 130, 130);
    border-style: double;
}

/*menu vertical e horizontal*/
#submenu-avaliacao-vertical,
#submenu-avaliacao-horizontal,
#submenu-config-cardapio-horizontal,
#submenu-config-cardapio-vertical,
#submenu-config-empresa-vertical,
#submenu-config-empresa-horizontal
{
    background-color: #343434;
}

.menu-vertical{
    overflow-y: auto;
    background-color: #343a40;
    width: 20%;
    min-height: 100vh; 
}

.btn-bar{
    background: none;
    border: 1px solid #f3f3f3;
    padding: 0.5em;
    cursor: pointer;  
    border-radius: 0.2em; 
    margin-right: 0.2em;
}

.button-menu{
    text-decoration: none;
    padding: 0.4em 0.8em;
    display: block;
    border: none;
    border-bottom: 1px solid #646464;
    width: 100%;
    background: none;
    cursor: pointer;
}

.button-menu:hover{
   background-color: #343a40;
}

.ativo{
    border-left: 10px solid#6c757d; 
}

/**conteudo**/

table button{
    cursor: pointer;
}

.w-sp-nowrap{
    white-space: nowrap;
}

.img-loading{
    position: relative;
    margin: 0 auto;
    display: block;
}

@media screen and (max-width: 768px){
    .menu-vertical{
        display: none;
    }
    .menu-horizontal{
        display: block;
    }
    #conteudo{
        width: 100%;
    }

    .input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
        width: 70%;
    }
}

@media screen and (max-width: 992px) and (min-width: 768.01px){
    .menu-vertical{
        width: 26%;
    }
}

@media screen and (min-width: 768.01px){
    .menu-vertical{
        display: block;
    }
    .menu-horizontal{
        display: none;
    }
}