.header{
    padding: 0.3em 0 0.5em 0;
    border-bottom: solid #f3f3f3;
    box-shadow: 0px 10px 5px -10px #111;    
}

.input-text{
    border: none;
    border-bottom: 1px solid #312e2e;
    border-radius: 0.3em;
    width: 100%;
    padding: 0.2rem;
}

.input-number{
    border: none;
    border-bottom: 1px solid #312e2e;
    border-radius: 0.3em;
    padding: 0.2rem;
    display: block;
    text-align: center;
}

label{
    margin: 0;
    color: #312e2e;
    display: block;
}